<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <h4>(MSRB3 1125)</h4>
    <table class="table table-striped">
      <tr> <td>Before</td> <td>Welcoming words from Allison Ashley-Koch</td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to Unix </td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td>Introduction to R and R Markdown</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <h4>(MSRB3 1125)</h4>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Data exploration and cleanup in R</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td>Data visualization in R</td> </tr>
      <tr> <td>15:30</td>  <td>Introduction to student committees by co-chairs</td> </tr>
      <tr> <td>15:40</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3</h3>
    <h4>(TBD, if GSRB1 4002 - <em>Note location change!!</em>)</h4>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Resources</td> </tr>
      <tr> <td>09:30</td>  <td>Projects</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td>Projects (continued) </td> </tr>
      <tr> <td>13:30</td>  <td>Project presentations</td> </tr>
      <!-- <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr> -->
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
