<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-shell">Introduction to Unix</h3>
    <ul>
      <li>Introduction to Shell</li>
      <li>Navigating Files and Directories</li>
      <li>Writing Scripts and Working with Data</li>
      <li>Project Organization</li>
      <li>Exercise Instructions</li>
      <li>
        Slides: 
        <a href="https://github.com/RavenYL/2025-08-20-upgg-bootcamp/blob/gh-pages/_includes/UPGG_Bootcamp_Unix_2025.pptx">
          UPGG Bootcamp Unix 2025 Slides
        </a>
      </li>
      <li>
        Toy Data: 
        <a href="https://github.com/RavenYL/2025-08-20-upgg-bootcamp/blob/gh-pages/_includes/dungeons%26dna.zip">
          Dungeons&DNA
        </a>
      </li>
    </ul>
  </div>

  
  <div class="col-md-4">
    <h3 id="syllabus-r">Introduction to R and R Markdown</h3>
    <ul>
      <li>
        Intro Slides: 
        <a href="https://docs.google.com/presentation/d/1WHA2ywPlqC1Iw7czE8q13AFes42G3S2u/edit?usp=sharing&ouid=115188753245629924141&rtpof=true&sd=true">R and RStudio</a>
      </li> 
      <li>R and R Studio</li>
      <li>Base R </li>
      <li>R Markdown (RMD)</li>
      <li>Installing Packages</li>
      <li>Citations in RMD</li>
      <li>Building an Introduction </li>
       <li>
        mRNA Dataset Background Slides: 
        <a href="https://docs.google.com/presentation/d/1mrlYRdqD-TC2ljQVPyCqFmFuHkcwXX2g/edit?usp=sharing&ouid=115188753245629924141&rtpof=true&sd=true">Dataset Introduction</a>
      </li> 
      <li>
        mRNA Dataset Paper Citation: 
        <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC5694946/">Dataset Citation</a>
      </li> 
      <li><a href="https://bio723-class.github.io/Bio723-book/getting-started-with-r.html">Additional resource</a></li>
    </ul>
  </div>

    
  <div class="col-md-4">
    <h3 id="syllabus-exploration">Data exploration and cleanup in R</h3>
    <ul>
      <li>Explore and understand data using R</li>
      <li>Data wrangling with <a href="https://www.tidyverse.org/">Tidyverse</a></li>
      <li>Best practices for cleaning data</li>
      <li>Data summarization</li>
     <!--  <li><a href="https://github.com/ndzikowski/2025UPGGBootcamp_dataExplorationandCleanup/blob/main/scripts/2025UpggBootcamp_workbook.Rmd">Rmd workbook</a></li> -->
      <!-- <li><a href="https://github.com/ndzikowski/2025UPGGBootcamp_dataExplorationandCleanup/blob/main/scripts/2025UpggBootcamp_fullGuide.Rmd">Rmd answer key</a></li> --> 
      <!-- <li><a href="https://github.com/rpornmon/2024upggBootcamp-dataExploreInR/blob/main/raw_data/dummy.csv"> dummy.csv</a></li> -->
     <!-- <li><a href=" https://github.com/rpornmon/2024upggBootcamp-dataExploreInR/blob/main/UPGGBootcampSlides.pptx">Slides</a></li> -->
      <!-- <li><a href="https://github.com/ndzikowski/2025UPGGBootcamp_dataExplorationandCleanup/blob/main/output/mRNA_data_3genes.csv">Processed csv</a></li> --> 
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-automation">Data visualization in R</h3>
    <ul>
      <li><a href="https://duke.box.com/s/hgvaqxa3qk3acfkat6caifnz0tmcvjz4">Introduction Slides</a></li>
      <li>Plotting Overview</li>
      <li>Practicing ggplot with penguins!</li>
      <li>Plotting your cleaned dataset</li>
      <li>Genetics-specific useful plots</li>
      <li>Color palettes for use in lesson: <a href="https://r-graph-gallery.com/color-palette-finder">Color Palette Finder</a></li>
      <li>Resources to help you plot: <a href="https://www.data-to-viz.com/#connectedscatter">What plot should you choose?</a></li>
      <li><a href="https://gganimate.com/">Animated plots</a></li>
    </ul>
  </div>


  <div class="col-md-4">
    <h3 id="syllabus-organization">Resources</h3>
    <ul> 
      <li>Slides: <a href="https://docs.google.com/presentation/d/1D1CjbNCv63n7fFk3x4dHvxaHxz8N0BhHZr2wtk9G4I0/edit?usp=sharing">UPGG Informatics Orientation Bootcamp: Resources</a></li>
    </ul>
  </div>

  
  <div class="col-md-4">
    <h3 id="syllabus-git">Projects</h3>
    <ul> 
      <li>Goal: find a dataset; form a research question; analyze the dataset; make a report; 5-10min presentation </li>
      <li>Dataset inspirations: <a href="https://www.kaggle.com/datasets">kaggle</a>, <a href="https://rsh249.github.io/semester-biology/materials/datasets/">R Programming for Biologists</a>, <a href="https://datacarpentry.github.io/semester-biology/materials/datasets/">Data Carpentry for Biologists</a>, <a href="https://www.zoology.ubc.ca/~whitlock/ABD/teaching/datasets.html">Whitlock</a>, <a href="https://github.com/rfordatascience/tidytuesday">tidytuesday</a></li>
      <li>Example RMD: <a href="https://github.com/RavenYL/2025-08-20-upgg-bootcamp/raw/gh-pages/_includes/Bootcamp_example_project_2024.Rmd">from Angela Jones</a></li>
      <li>Example HTML: <a href="https://github.com/RavenYL/2025-08-20-upgg-bootcamp/raw/gh-pages/_includes/Bootcamp_example_project_2024.html">from Angela Jones (save as file, then open file with browser)</a></li>
    </ul>
  </div>
  </div>

